
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddOrEdit","Driver")')"><i class="fa fa-plus"></i> Add New Driver</a>
<table id="DriverTBL" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Driver Name</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
    </thead>
</table>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

@section scripts{

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/Driver.js"></script>
}